# Contains credentials. Only .env.preset shall be tracked in repository
.env

# Contains runtime data:
database.sqlite
temp/
data/


# Only the translation source shall be tracked in repository
resources/translations/*
!resources/translations/source.json#
