[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
discord-py = {extras = ["voice"],version = "~=1.3.3"}
sqlalchemy = "~=1.3.18"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
bot = "python runscripts/bot.py"
start = "python runscripts/start.py"
test = "python runscripts/test.py"
translate = "python runscripts/translate.py"
